html(lang='en')

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Inductors
body
  #header Visualising Current as angular velocity
  #content
    #sim
      #view
        img#flywheel(src=require("./flywheel.svg"))
    #controls
    #footer source code is avilable at 
      a(href='https://GitHub.com/vigneshpa/simulations/tree/main/src/inductor' target="_blank") GitHub.com